.bg-body {
  background-color: rgb(227, 227, 224);
}

.container {
  display: grid;
  grid-template-columns: 0.4fr repeat(2, 1fr) 0.4fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
  margin: auto;
  background-color: white;
}

/* header */
.header {
  grid-area: 1 / 1 / 2 / 6;
}

.header .container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #82b965;
}

.header .container__header .header__logo {
  font-size: 24px;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header .container__header .header__logo a {
  text-decoration: none;
  color: white;
  margin: 0 0 0 10px;
  padding: 0 5px;
}

.header .container__header .header__logo a:hover {
  background-color: rgb(145, 194, 119);
  height: 100%;
  display: flex;
  align-items: center;
}

.header .container__header .header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
  font-size: 12px;
}
.header .container__header .header__nav a {
  text-decoration: none;
  padding: 0 5px;
  color: white;
}
.header .container__header .header__nav a:hover {
  background-color: rgb(145, 194, 119);
  height: 100%;
  display: flex;
  align-items: center;
}
.header .container__header .header__nav a:nth-last-child(1) {
  margin-right: 10px;
}

/* side kiri */
.side-left {
  grid-area: 2 / 1 / 5 / 2;
  background-color: rgb(235, 235, 235);
}

.side-left .container__side-left {
  color: white;
}

.side-left .container__side-left .header__side-left {
  display: flex;
  justify-content: space-between;
  background-color: #3b8dbd;
  padding: 0 10px;
  height: 40px;
}

.side-left .container__side-left .header__side-left .follow {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.side-left .container__side-left .header__side-left .social {
  display: flex;
  gap: 5px;
  align-items: center;
}

.side-left .container__side-left .header__side-left .social .social__icon {
  color: white;
  text-decoration: none;
}
.side-left .container__side-left .container-card__side-left {
}
.side-left
  .container__side-left
  .container-card__side-left
  .card_container__side-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-left .container__side-left .container-card__side-left .card__side-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 6px 8px;
  margin: 5px 10px;
  border-bottom: 1px solid grey;
}

.side-left
  .container__side-left
  .container-card__side-left
  .card__side-left
  .card__img
  img {
  display: flex;
  width: 60px;
  justify-content: center;
}
.side-left
  .container__side-left
  .container-card__side-left
  .card__side-left
  .card__text {
  margin-left: 12px;
}
.side-left
  .container__side-left
  .container-card__side-left
  .card__side-left
  .card__title {
  color: #3b8dbd;
  font-size: 12px;
}
.side-left
  .container__side-left
  .container-card__side-left
  .card__side-left
  .card__desc {
  color: black;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.side-left
  .container__side-left
  .container-card__side-left
  .card__side-left
  .card__date {
  color: grey;
  font-size: 12px;
}
/* navigate */
.side-left
  .container__side-left
  .container-card__side-left
  .navigate__side-left {
  display: flex;
  justify-content: center;
}
.side-left
  .container__side-left
  .container-card__side-left
  .navigate__side-left
  a {
  margin: 10px;
  display: flex;
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
.side-left
  .container__side-left
  .container-card__side-left
  .navigate__side-left
  a.active {
  border-bottom: 3px solid #3b8dbd;
}
.side-left
  .container__side-left
  .container-card__side-left
  .navigate__side-left
  a:hover {
  border-bottom: 3px solid #3b8dbd;
}

/* konten */
.content {
  grid-area: 2 / 2 / 5 / 4;
}

.content .container__content {
  padding: 0 20px;
}

.top-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.Movie-search {
  height: 32px;
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: bold;
  width: 50%;
}

.content__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-container {
  background-color: bisque;
  padding: 20px;
  width: 200px;
}
.card-img img {
  width: 100%;
  height: 300px;
}
.card-title {
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}

.card-date {
  font-style: italic;
  display: flex;
}

.card-rate {
  color: orangered;
  font-weight: bold;
  font-size: 1.2em;
}

/* side kanan */
.side-right {
  grid-area: 2 / 4 / 5 / 5;
  background-color: rgb(235, 235, 235);
}

.side-right .container__side-right .container-card__side-right {
  padding: 20px;
  width: 70%;
  margin: auto;
}

.side-right .container__side-right .title__side-right {
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b8dbd;
  height: 40px;
}

.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right
  .card__img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right
  .card__img
  img {
  width: 120px;
}

.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right
  .card__title {
  color: #3b8dbd;
  font-size: 20px;
  margin-bottom: 10px;
}
.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right
  .card__desc {
  color: black;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.side-right
  .container__side-right
  .container-card__side-right
  .card__side-right
  .card__date {
  color: grey;
  font-size: 16px;

  margin-bottom: 10px;
}

/* footer */
.footer {
  grid-area: 5 / 1 / 6 / 5;
  background-color: rgb(46, 46, 46);
}

.footer .container__footer {
  text-align: center;
  font-size: 12px;
  color: white;
}
.footer .container__footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.footer .container__footer a:hover {
  color: #3b8dbd;
}
